<% @articles.each do |article| %>
  <p><strong><%= article.title %></strong></p>
    <p><%= article.summary %></p>
    <p><%= link_to "zobacz artykuł", article_path(article) %></p>
  </article>
<% end %>