<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4><p>Dostałeś wiadomość kontaktową z Twojej strony.</p></h1>
    <p><%= @contact.name %> napisał:</p>
    <%= simple_format @contact.body %>
  </body>
</html>