<% @photos.each do |photo| %>
  <div class="photo">
    <p><%= image_tag photo.photo.url(:thumb) %></p>
    <p><%= photo.title %></p>
    <p><%= photo.description %></p>
  </div>

  <%= paginate @photos %>
<% end %>